In [11]:
#Write a Pandas program to create and display a DataFrame from the following dictionary data which has index labels.
#exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
#'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
#'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
#'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
#labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

#Print the three first rows using head() method
#Delete rows with Nan values
#Extract the 'name' and 'score' columns from the DataFrame.
#Write a Pandas program to append a new row 'k' to data frame with these values(name : "Suresh", score: 15.5, attempts: 1, qualify: "yes")
#Write a Pandas program to delete the 'attempts' column from the DataFrame.
#Add a new column "Success" : if the score is higher than 10 we will have 1 else we will have 0
#After executing the final dataframe, export it into csv file named "my_data"
import pandas as pd
import numpy as np
exam_data =pd.DataFrame ({'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']})
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
exam_data.head(3)
exam_data = exam_data.dropna()
print(exam_data)
print(exam_data[['name', 'score']])
exam_data.loc['k'] = ['Suresh', 15.5 , 1 , "yes"]
print(exam_data)
exam_data.pop('attempts')
###############################
#exam_data["Success"]=exam_data.score >10
###########################
success=exam_data[exam_data["score"]>=10].index
exam_data.loc[success,"success"]="1"

success=exam_data[exam_data["score"]<10].index
exam_data.loc[success,"success"]="0"

print(exam_data)
exam_data.to_csv(r'/home/noura369/Desktop/my_Data_in_Pandas.csv')

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes
        name  score
0  Anastasia   12.5
1       Dima    9.0
2  Katherine   16.5
4      Emily    9.0
5    Michael   20.0
6    Matthew   14.5
8      Kevin    8.0
9      Jonas   19.0
        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes
k     Suresh   15.5         1     yes
        name  score qualify success
0  Anastasia   12.5     yes       1
1       Dima    9.0      no       0
2  Katherine   16.5     yes       1
4      Emily    9.0      no       0
5    Michael   20.0     yes       1
6    Matthew   14.5     yes       1
8      Kevin    8.0      no       0
9      Jonas   19.0     yes       1
k     Suresh   15.5     yes       1